body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #eff7d9;
}

.mx-0 {
    margin: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mr-2 {
    margin-right: 0.5em;
}

.mt-4 {
    margin-top: 1em;
}

.p-3 {
    padding: 0.74em
}

a,
a:hover {
    color: #eff7d9;
    cursor: pointer;
}

a.shadow {
    border: 1px solid #0c0c0c50;
    box-shadow: 0 0 5px #0c0c0c38;
    border-radius: 8px;
}

a.underline,
a.underline h2 {
    text-decoration: underline;
}

a.underline h2 {
    display: inline-block;
}

.flex-center {
    display: flex;
    align-items: center;
}

.custom-carrousel {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    max-width: 100%;
    overflow-x: auto;
}

.big-input>input,
.big-input>span {
    font-size: 36px;
}

/* antd colouring */

.ant-layout,
.ant-layout-header,
.ant-menu.ant-menu-dark {
    background-color: #191A19;
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item {
    font-weight: 700;
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item:hover,
.ant-menu.ant-menu-dark .ant-menu-item-selected {
    color: #D8E9A8;
    background-color: #191A19;
}

.ant-input-affix-wrapper.ant-input-affix-wrapper-lg,
.ant-input.ant-input-lg {
    background-color: #191A19;
    color: #D8E9A8;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #4E9F3D;
}

.ant-card {
    color: #eff7d9;
    background-color: #0c2211;
}

.ant-card-bordered,
.ant-list-bordered {
    border-color: #4E9F3D;
}